<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Suite">
<listeners>
<listener class-name="io.qameta.allure.testng.AllureTestNg"/>
<listener class-name="com.mpro.ptax.test.listeners.TestListener"/>
</listeners>
 
  <test thread-count="1" name="Test">
    <classes>
      <class name="com.mpro.ptax.projectFlow.NewAssessmentFlowTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
