<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="PTax Suite" parallel="tests" thread-count="2">

   
   
    <test name="Inward + AAC Flow">
        <classes>
            <class name="com.mpro.ptax.test.flow.InwardFlowTest"/>
            <class name="com.mpro.ptax.test.flow.AacLoginTest"/>
        </classes>
    </test>
              
    </suite>
    


